logs
*.log
.vscode
.vscode/*
*/.DS_Store
.DS_Store
.idea
coverage
node_modules
typings/
.npm
*.tgz
.cache
.next
.nuxt
dist
.cache/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
/.husky/
/.vercel/
