// 参考：https://theme-hope.vuejs.press/zh/guide/interface/code-theme.html

// 浅色主题
$code-light-them: 'coldark-cold';

// 深色主题
$code-dark-theme: 'atom-dark';

// 主题色
// $theme-colors: #2196f3, #f26d6d, #3eaf7c, #fb9b5f;

$theme-color: #2196f3;
